[project]
	description = ?????Java SDK
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kakotor
[access "refs/for/refs/*"]
	read = group user/kakotor
	push = group user/kakotor
	label-Code-Review = -2..+2 group user/kakotor
	label-Verified = -1..+1 group user/kakotor
	rebase = group user/kakotor
	removeReviewer = group user/kakotor
	submit = group user/kakotor
[access "refs/heads/*"]
	read = group user/kakotor
	create = group user/kakotor
	push = +force group user/kakotor
	pushMerge = group user/kakotor
[access "refs/tags/*"]
	push = +force group user/kakotor
	pushTag = group user/kakotor
	pushSignedTag = group user/kakotor
